.badge {
  background: #ff2a2a;
  color: white;
  position: absolute; /* Absolute joylashuv */
  top: -2px; /* Vertikal markazlash */
  left: 58%;
  right: 0; /* Gorizontal markazlash */
  z-index: 3;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_1 {
  border-radius: 50%;
  border: 0;
  background: white;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative; /* Relative joylashuv */
  z-index: 2;
}

.medias_1 {
  font-size: 20px;
}

@media screen and (min-width: 300px) and (max-width: 400px) {
  .medias_1 {
    font-size: 18px;
  }
  .medias_2 {
    width: 130px;
    font-size: 10px;
  }
  .medias {
    width: 110px;
    margin-top: 10px;
  }
  .button_1 {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .around {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button_1:nth-child(3) {
  width: 130px;
  padding: 20px;
  border-radius: 10px;
}
