body {
  padding: 0;
  margin: 0;
  height: 100vh;
}
.contact_border {
  padding: 10px;
  margin-bottom: 10px;
  border: 4px solid #ffb12a;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
